  * {
      box-sizing: border-box;
  }

  body {
      font-family: Cambria;
      margin: 0;
      padding: 0;
      background-color: black;
  }

  header {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background: green;
      color: black;
      text-align: center;
      padding: 30px;
  }

  h1 {
      font-size: 36px;
      text-align: center;
  }

  p {
      text-align: center;
      font-size: 22px;
  }

  h2 {
      text-align: center;
      font-size: 25px;
      margin-top: 10px;
  }

  footer {
      font-size: 10px;
      text-align: center;
      color: white;
      margin-top: 30px;
  }

  .grid-container {
      display: flex;
      max-width: 100vw;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: center;
  }

  .grid-item {
      background-color: black;
      color: green;
      font-size: 25px;
      text-align: center;
  }

  .menu {
      text-align: left;
      font-size: 20px;
      font-family: Gill Sans;
  }

  a:link {
      color: white;
      background-color: transparent;
      text-decoration: none;
  }


  a:visited {
      color: green;
      background-color: transparent;
      text-decoration: none;
  }

  .main {
      display: flex;
      padding-left: 1rem;
  }

  .gif-gallery {
      max-width: 100%;
      align-items: center;
    margin-left: 2rem;
  }

  img,
  video {
      margin-top: 8px;
      vertical-align: middle;
  }

  nav {
      max-width: 100vw;
      justify-content: space-around;
      display: flex;
  }

  li {
      list-style-type: none;
  }

  button {
      display: none;
  }

  @media screen and (max-width: 600px) {
      .main {
          flex-direction: column;
          padding-left: 0;
      }

      .menu {
          position: relative;
      }

      .menu:hover nav {
          display: block;
      }

      nav {
          background-color: rgba(203, 238, 199, .9);
          display: none;
          width: 200px;
          position: absolute;
      }

      nav a {
          color: black;
          font-size: 1.1em;
          display: block;
          padding: 12px 25px;
      }

      a:hover nav:hover {
          background-color: lawngreen;
          transition: ease-in-out 0.3s;
      }

      a:active {
          color: darkgreen;
          background-color: transparent;
          text-decoration: none;
      }

      button {
          color: white;
          display: inline-flex;
          background-color: green;
          font-size: 1em;
          border: none;
          padding: 10px 15px;
      }

    .gif-gallery {
        margin-left:1rem;
        margin-right:1rem;
    }
 .metrics {
     flex-direction: column;
     align-items: center;
     margin: 0px;
 }

 .marketing-list {
     padding-left: 1rem
 }




}
