 body {
     font-family: Cambria;
     margin: 0;
     padding: 0;
     background-color: black;
 }

 header {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background: green;
     color: black;
     text-align: center;
     padding: 30px;
 }

 h1 {
     font-size: 36px;
 }

 p {
     text-align: center;
     font-size: 30px;
 }

 h2 {
     text-align: center;
     font-size: 25px;
     margin-top: 50px;
     padding: 80px;
 }

 footer {
     font-family: 'Times New Roman';
     font-size: 10px;
     text-align: center;
     color: white;
     margin-top: 30px;
 }

 .grid-container {
     display: flex;
     max-width: 100vw;
     justify-content: space-around;
     flex-wrap: wrap;
     align-content: center;
 }

 .grid-item {
     background-color: black;
     color: green;
     font-size: 25px;
     text-align: center;
 }

 .menu {
     text-align: left;
     font-size: 20px;
     font-family: Gill Sans;
 }

 a:link {
     color: white;
     background-color: transparent;
     text-decoration: none;
 }

 a:visited {
     color: white;
     background-color: transparent;
     text-decoration: none;
 }

 nav {
     max-width: 100vw;
     justify-content: space-around;
     display: flex;
 }

 li {
     list-style-type: none;
 }

 @media screen and (max-width: 600px) {
     .grid-container {
         flex-direction: column;
         align-items: center;
     }
     nav {
            flex-direction: column;
            align-items: center;
            background-color:greenyellow
     }
     nav:hover {
            background-color: green;
            display:none;
            position:absolute;
            top:0;
            width:100%;
        }
              
 }